body
{   
    background-color: rgb(0, 0, 0);  
}

h1
{   
    background-color: rgb(238, 255, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h2,h3,h4  
{   
    font-size: 40px;
    color: rgb(200, 235, 1);
}

p
{   
    text-align: justify;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

ul,ol
{   
    background-color: rgb(238, 255, 0);
    color: rgb(0, 0, 0);
}

